
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Nusa's Web- Free Bootstrap Theme</title>
        
<!-- 

Nusa Template

https://templatemo.com/tm-518-sentra

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static\css\bootstrap.min.css">
        <link rel="stylesheet" href="static\css\bootstrap-theme.min.css">
        <link rel="stylesheet" href="static\css\fontAwesome.css">
        <link rel="stylesheet" href="static\css\light-box.css">
        <link rel="stylesheet" href="static\css\owl-carousel.css">
        <link rel="stylesheet" href="static\css\templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="static\js\vendor\modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>



        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#featured">My love</a></li>
                        
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#">NUSA</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            My Love
                        </a>
                    </li>
                    
                   
                   
                </ul>
            </nav>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>Beautiful Beloved<br>Nusa</h1>
                          <p>You and i promised we will grow old together. Please let me hold your hand until death let us apart<br>
                          	Please Forgive me.</p>
                          <div class="white-button button">
                              <a href="#featured">Discover More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>Please let me be<br> your One</h1>
                          <p>The beautiful moment we created with each other.
							</p>
                          
                          <div class="white-button button">
                              <a href="#featured">Share More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>You And Me AND<br>only us</h1>
                          <p>I just cant stand thinking about you being with someone else.</p>
                          
                          <div class="white-button button">
                              <a href="#featured">Learn More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Memories<br><em>Together</em></h1>
                    <p>Nusa,i know i messed up badly but just look below what memories we have created  and what we can do more don't just give up yet i know you still love me you are just hurt for tgings i have done to you and i extremly sorry for that.Nusa. I'll be you're tarc Sadi once Again.I know you are mature than me you will find a way to understand me why was i doing all of this and what was hurting me. I LOVE U DEARLY.Press right buton->
                    <br></p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="static\img\best0.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">My One & Only</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>This is where i began to love you blindly </h4>
                                <span></span>
                                <p>I know i have messed up big time big this time. I should have at least told you what was bothering you except blocking you from everywhere. I will communicate with you next time please forgive my behaviour.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="static\img\img18.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">My Wife</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>This is where i began to look at you as my soul partner not just my lover</h4>
                                
                                <p>There is no relationship without a fight, we fight we get hurt, we start to hate but the and of the time we came back together and I can promise you no matter how much we fight  how much we blame each other i'll never leave youn nad neither should you. </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="static\img\img12.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">My Other Half</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Just look how happy we are!! </h4>
                                
                                <p>Isn't it worth to fight over? Shouldn't prove everyone wrong that tarc love doesn't end in tarc?Nusa come on we can make it please don't give up on us..... .</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="static\img\img1.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Aren't we?</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>You have once told me that when i hug you like this you feel that your husband is hugging you.</h4>
                               
                                <p>Nusa please try to to understand me whatever i do whatever i did i just wanted to make sure that you are mine and no one is taking me from you.I know you You love me too please don't give up on us</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="static\img\img9.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Continue Reading</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Just look at your mother in law</h4>
                                
                                <p>Nusa i wanna recreate this momment again marrying you and take your hand permanently. If you don't wanna think about me at least think about Your mother in law. Isn't she like you mother?? She loves you too at least forgive me for her...</p>
                            </div>
                        <!-- </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/featured_3.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Continue Reading</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Sed at massa turpis</h4>
                                <span>Curabitur</span>
                                <p>#6 Vestibulum tincidunt ornare ligula vel molestie. Curabitur hendrerit mauris mollis ipsum vulputate rutrum. Phasellus luctus odio eget dui imperdiet.</p>
                            </div> -->
                        <!-- </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/featured_2.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Continue Reading</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Aliquam mollis lacus</h4>
                                <span>Suspendisse</span>
                                <p>#7 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam, nec hendrerit purus pharetra in.</p>
                            </div> -->
                        <!-- </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/featured_1.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Continue Reading</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Mauris lacinia pretium</h4>
                                <span>Vestibulum</span>
                                <p>#8 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam, nec hendrerit purus pharetra in.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/featured_3.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Continue Reading</a>
                                </div> -->
                            <!-- </div>
                            <div class="text-content">
                                <h4>Proin sit amet fringilla erat</h4>
                                <span>Convallis</span>
                                <p>#9 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam, nec hendrerit purus pharetra in.</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Last but<br><em>Not Least</em></h1>
                    <p>I LOVE YOU AND ALWAYS WILL AND I WILL FIGHT GOR US UNTIL WE MARRY EACH OTHER. PLEASE FORGIVE YOURE IMMATURE CHILD AND WHEN I MEET YOU PLZ HUG ME I AM MISSING YOU HEART PUMP NUSA .
                    <br></p>
                <!-- </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <div class="item">
                                <div class="col-md-8">
                                    <a href="img/_big_1.jpg" data-lightbox="image"><img src="img/_1.jpg" alt="image 1"></a>
                                </div>
                            </div>
                            <div class="item second-item">
                                <div class="col-md-4">
                                    <a href="img\img11.jpg" data-lightbox="image"><img src="img/portfolio_2.jpg" alt="image 2"></a>
                                </div>
                            </div>lio_big_2
                            <div class="item">
                                <div class="col-md-4">
                                    <a href="img\img11.jpg" data-lightbox="image"><img src="img/portfolio_3.jpg" alt="image 3"></a>
                                </div> -->
                            </div>
                           
                           
                        </div>
                    </div>
                </div>            
            </section>
            
           
            
            <section class="footer">
                <p>Copyright &copy; 2025 Tanvir Ahmed Sadi
                </p>
            </section>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static\js\vendor\bootstrap.min.js"></script>
    
    <script src="static\js\plugins.js"></script>
    <script src="static\js\main.js"></script>

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }
            
            lastScrollTop = st;
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>
</html>